//Цвет шрифта
$general-color: #ffffff;
$general-color-black: #000000;
$general-color-grey: #616161;
$general-color-brand: #8f9cb3;
$general-color-hover: #2980b9;

//Цвет фона
$background-white: #ffffff;
