// color variables
// font color
$general-color: #ffffff;
$general-color-black: #000000;
$general-color-grey: #616161;
$general-color-brand: #8f9cb3;
$general-color-hover: #2980b9;
$headline-blue: #2980b9;
$headline-white: #fafcfe;

// background color
$background-white: #ffffff;

// transitions

$all-ease-05: all .5s ease;
$all-linear-05: all .5s linear;
$all-linear-1: all 1s linear;
