#fixed-nav {
    position: fixed;
    z-index: 999;
    top: -50px;
    width: 100%;
    height: 50px;
    background-color: $fixed-nav-bg;
    transition: top 0.3s;
}

.nav_container {
    @include flex-rw-btw;
	width: 100%;
	height: inherit;
	padding-top: 0;
	padding-bottom: 0;
	padding-left: 15px;
	padding-right: 15px;
	margin: 0 auto;
}

.fixed-nav_list {
     display: inline-flex;
      justify-content: space-between;
       width: 480px;
      height: auto;
}

.fixed-nav_item {
    display: inherit;
    line-height: 2.5;
}

.fixed-nav_link {
    @include ease(color $ease-2s);

    &:hover {
         color: $general-color-hover;
    }
}