.portfolio {
    @include flex-col-btw;
    width: 100%;
    height: auto;
    padding: 35px 0 25px 0;
    background: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.52)), url(../img/hero-02.jpg);
    background-size: cover;
    background-position: center center;

    .content_container{
        margin-top: 220px;
        margin-bottom: 160px;
    }
}

.content_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: content-box;


    .portfolio_content {
        display: grid;
        grid-template-columns: 375px 375px 375px;
        grid-template-rows: repeat(2, 200px);
        text-align: center;

    }

    .portfolio_box {
        display: flex;
        position: relative;
        // width: i;
        .hover_box{
            visibility: hidden;
            position: absolute;
            z-index: -1;
        }

        &:hover .hover_box{
            visibility: visible;
            position: absolute;
                left: 0;
                right: 0;
            height: 100%;
            z-index: 10;
            background: $grid-rgba;
        }
    }

    .portfolio_image {
        width: 100%;
        height: auto;
    }
}

.portfolio_text {
    position: absoute;
}