.our_team{
	padding: 35px 0 25px 0;
	position: relative;
		&::before{
			content: '';
			width: 100%;
			height: 207px;
			position: absolute;
				left: 0;
				right: 0;
				top: -206px;
			display: block;
			background: url('../img/Sep-top.png')no-repeat center;
		}
		&::after{
			content: '';
			width: 100%;
			height: 207px;
			position: absolute;
				left: 0;
				right: 0;
				bottom: -206px;
			display: block;
			background: url('../img/Sep-bottom.png')no-repeat bottom;
		}
	
	.content_container{
		box-sizing: content-box;
	}

	.team-box{
		display: flex;
		flex-direction: column;
		align-items: center;
		position: relative;
		cursor: pointer;

		.teamate-photo{
			max-width: 250px;
					width: 100%;
					height: 250px;
			border-radius: 4px;
		}

		.teamate-name{
			margin-top: 20px;
			font-size: 18px;
			font-weight: bold;
			color: $txt-blue-col;
		}

		.teamate-heldpost{
			margin-top: 8px;
			font-size: 16px;
			color: $txt-black-col;
		}


		.hover-content{
			visibility: hidden;
			position: absolute;
			z-index: -1;
		}

		&:hover .hover-content{
			visibility: visible;
			z-index: 5;
			position: absolute;
				left: 0;
				right: 0;
				top: 0;
			width: 250px;
			height: 250px;
			border-radius: 4px;
			background: $grid-hover-rgba;
			@include easeIn(background $easeIn-2s);

				.teamate-social-block{
					display: flex;
					justify-content: space-around;
					position: absolute;
						left: 0;
						right: 0;
						top: 35%;
						filter: grayscale(1);
						&:hover {
							filter: grayscale(0);
						}
				}

				.teamate-social-icon {
					filter: grayscale(1);
					@include easeIn($easeIn-2s);
					&:hover {
						filter: grayscale(0);
					}
				}
		}
	}

	.our_team-text{
		text-align: center;
		font-size: 16px;
		margin-top: 50px;
		color: $txt-black-col;
	}


}