.link--hover {
  transition: $all-ease-05;
  &::before{
    content: '< ';
    visibility: hidden;
  }
  &::after{
    content: ' >';
    visibility: hidden;
  }
  &:hover::before{
    transition: $all-ease-05;
    visibility: visible;
  }
  &:hover::after{
    transition: $all-ease-05;
    visibility: visible;
  }
}
