@mixin content_container {
	.content_container {
		display: flex;
		max-width: 1170px;
		height: 100%;
		padding-top: 0;
		padding-bottom: 0;
		padding-left: 15px;
		padding-right: 15px;
		margin: 0 auto;
	}
}
