// links hover

.link--hover {
  transition: $all-ease-05;

	&::before {
		content: '< ';
		visibility: hidden;
	}

	&::after {
		content: '< ';
		visibility: hidden;
	}

  &:hover::before {
	  content: '< ';
	  visibility: visible;
	  transition: $all-ease-05;
  }

  &:hover::after{
    content: ' >';
	  visibility: visible;
	  transition: $all-ease-05;
  }
} // End of .link--hover

// block headlines modifiers

.block--headline {
	text-transform: uppercase;
	font-size: 33px;
}

.block--headline-w {
	color: $headline-white;
	&::after {
		content: '_';
	}
}

.block--headline-b {
	color: $headline-blue;
	&::before {
		content: '';
		margin-top: 43px;
		width: 50px;
		height: auto;
		border-bottom: 4px solid $headline-blue;

	}
}
