html,
body {
  margin: 0;
  padding: 0;
  @include raleway-regular;
}

html {
  font-size: 18px;
}

body {
  font-size: 13px;
}

a {
  text-decoration: none;
  outline: none;
  tap-highlight-color: transparent;
}

ul,
li {
  list-style: none;
  text-decoration: none;
}
