.header-wrapper{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: auto;
}

	.header {
    width: 100%;
    height: 480px;
	  background-image: url(../img/hero-01.jpg);
	  background-repeat: no-repeat;
		background-position: top center;
	  background-size: cover;


		&__navigation {
    display: none;
  }
}

	.header__content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 300px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 18px;
    color: $general-color;


    .penta-icon{
      transition: $all-ease-05;
      &:hover{
        filter: invert(1)
                drop-shadow(0 0 5px $general-color-black)
                drop-shadow(0 0 50px $general-color-black); // чтобы страница чуть лагала;
      }
  }


        .penta--size {
          width: 75px;
          height: 75px;
        }

  .header__content-text{
    margin-top: 20px;
    text-align: center;
  }

  .know-more{
    padding: 12px 35px;
    border: 3px solid $general-color;
    border-radius: 5px;
    font-size: 18px;
    transition: $all-ease-05;
    &:hover{
      background-color: $general-color;
      border: 3px solid $general-color-black;
      @include raleway-medium;
      color: $general-color-black;
    }
  }
}

	.scroll-down-icon{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 120px;
        height: 70px;
        margin-bottom: 55px;
        color: $general-color-black;
        filter: invert(1);
        transition: $all-ease-05;
        &:hover{
          filter: invert(0);
        }

    .scroll-down-icon-mouse{
     margin-bottom: 10px;
    }
}
