	.header {
		position: relative;
    width: 100%;
    height: 960px;
	  background-image: url(../img/hero-01.jpg);
	  background-repeat: no-repeat;
		background-position: top center;
	  background-size: cover;


		&__nav {
			display: flex;
			justify-content: space-between;
			width: 100%;


			&-list {
				display: flex;
				width: 600px;

				&-item {
					display: inline-block;
				}
			} // end .list
  } // end .nav
} // end .header

	.header-wrapper{
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		height: 750px;
		padding-bottom: 30px;
	}

	.header__content{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 300px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 18px;
    color: $general-color;


    .penta-icon{
      transition: $all-ease-05;
      &:hover{
        filter: invert(1)
                drop-shadow(0 0 5px $general-color-black)
                drop-shadow(0 0 50px $general-color-black); // чтобы страница чуть лагала;
      }
  }

      .penta--size {
         width: 75px;
        height: 75px;
       }

  .header__content-text{
    margin-top: 20px;
    text-align: center;
  }

  &-link{
    padding: 12px 35px;
    border: 3px solid $general-color;
    border-radius: 5px;
    font-size: 18px;
    transition: $all-ease-05;
    &:hover{
      background-color: $general-color;
      border: 3px solid $general-color-black;
      @include raleway-medium;
      color: $general-color-black;
    }
  }
}