// animation mixin`s
@import "animation/_ease-mixins.scss";

@mixin flex-col-btw {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@mixin flex-rw-btw {
    display: flex;
    justify-content: space-between;
}

@mixin flex-rw-ar {
    display: flex;
    justify-content: space-around;
}

@mixin shape_top {
    &::before{
        content: '';
        width: 100%;
        height: 207px;
        position: absolute;
            left: 0;
            right: 0;
            top: -206px;
        display: block;
        background: url('../img/Sep-top.png')no-repeat center;
    }
}

@mixin shape_bottom {
    &::after{
        content: '';
        width: 100%;
        height: 207px;
        position: absolute;
            left: 0;
            right: 0;
            bottom: -206px;
        display: block;
        background: url('../img/Sep-bottom.png')no-repeat bottom;
    }
}