// animation mixin`s
@import "animation/_ease-mixins.scss";

@mixin flex-col-btw {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@mixin flex-rw-btw {
    display: flex;
    justify-content: space-between;
}

@mixin flex-rw-ar {
    display: flex;
    justify-content: space-around;
}