//Обнуления и сброс

:root {
	box-sizing: border-box; /*применяет значение border-box к корневому элементу*/
	font-size: 18px;
  }

  *,
  ::before,
  ::after {
	box-sizing: inherit; /*указывает всем другим элементам и псевдоэлементам наследовать значение box-sizing*/
  }
	
	// убирает отступы у всех элементов дажу у тегов p, li и т.д.
	*{
		padding: 0;
		margin: 0;
	}

html {
	font-size: 18px;
}

body {
	@include raleway-regular;
	font-size: 18px;
}


//-------------------------------------------

// import fonts

@include font-face;

//-------------------------------------------

a {
  text-decoration: none;
  // outline: none; // нельзя так делать!
  -webkit-tap-highlight-color: transparent;
  color: $general-color;
}


// нельзя так делать!
// a,
// button,
// input {
// 	outline: none;
// }

ul,
li {
  list-style: none;
  text-decoration: none;
}

[vis-hide] {
	border: 0;
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	width: 1px;
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: relative; // different - for reading order in macOS VO
	display: block; // new - for reading order in macOS VO
}

// centering main content

.content_container {
	max-width: 1170px;
	height: inherit;
	padding-top: 0;
	padding-bottom: 0;
	padding-left: 15px;
	padding-right: 15px;
	margin: 0 auto;
}

.box-row{
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-direction: row;
}