// color variables
// font color
$general-color: #ffffff;
$general-color-black: #000000;
$general-color-grey: #616161;
$general-color-brand: #8f9cb3;
$general-color-hover: #2980b9;
$headline-blue: #2980b9;
$headline-white: #fafcfe;

// background color
$background-white: #ffffff;


// text
$txt-white-col: 		#fafcfe;
$txt-black-col: 		#616161;
$txt-blue-col: 			#2980b9;

//background & others
$background-col: 		#fafcfe;
$grid-hover-col: 		#3e8cc0;
$gradient-col: 			#212121;
