//Обнуления и сброс

:root{
  font-size: 18px;
}

body{
  @include raleway-regular;
  font-size: 18px;
}

*{
  padding: 0;
  margin: 0;
}

*, *::before, *::after{
  box-sizing: inherit;
  }

html{
  box-sizing: border-box;
  }

.content_box{  //класс присваивается дочерним блокам
  box-sizing: content-box;
  }

//-------------------------------------------

//подключаем шрифты

@include font-face;

//-------------------------------------------
