//Цвета в переменных

// text
$txt-white-col: 		#fafcfe;
$txt-black-col: 		#616161;
$txt-blue-col: 			#2980b9;

//background & others
$background-col: 		#fafcfe;
$grid-hover-col: 		#3e8cc0;
$gradient-col: 			#212121;