// Контейнеры

.container{
	width: 1170px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	padding: 0 12px 0 12px;
	margin: 0 auto;
}