/*@font-face{
  font-family: "";
  font-weight: ;
  src: url("../../fonts/");
}*/

@mixin font-face{
	@font-face{
		font-family: Raleway-Bold;
		src: url(../font/Raleway-Bold.otf);
	}

	@font-face{
		font-family: Raleway-ExtraBold;
		src: url(../font/Raleway-ExtraBold.otf);
	}

	@font-face{
		font-family: Raleway-ExtraLight;
		src: url(../font/Raleway-ExtraLight.otf);
	}

	@font-face{
		font-family: Raleway-Heavy;
		src: url(../font/Raleway-Heavy.otf);
	}

	@font-face{
		font-family: Raleway-Light;
		src: url(../font/Raleway-Light.otf);
	}

	@font-face{
		font-family: Raleway-Medium;
		src: url(../font/Raleway-Medium.otf);
	}

	@font-face{
		font-family: Raleway-Regular;
		src: url(../font/Raleway-Regular.otf);
	}

	@font-face{
		font-family: Raleway-SemiBold;
		src: url(../font/Raleway-SemiBold.otf);
	}

	@font-face{
		font-family: Raleway-Thin;
		src: url(../font/Raleway-Thin.otf);
	}
}


@mixin font($size, $weight) {
	font:{
		size: $size;
		weight: $weight;
	}
}
