.our_clients{
    position: relative;
    width: 100%;
    height: 25em;
	@include shape_top;
	@include shape_bottom;

    .content_container {
        @include flex_col_btw;
        padding: 35px 0 25px 0;
    }

    .block-headline--wrapper {
        @include flex_col_btw;
        max-width: 360px;
        min-height: 125px;
            width: 100%;
            height: auto;
        text-align: center;
        font-size: 0.73em;
    }
} // end of our_clients

// slide

.clients-slider-block {
    position: relative;
    min-height: 280px;

}

// TODO: Нужно когда нибудь доделать слайдер
